Repository ctreminiom/go-atlassian, pull requests merged in 2023-07, with the labels that each got.

#226 :sparkles: Added Bearer token support.
  confluence/api_client_impl.go
  confluence/v2/api_client_impl.go
  jira/agile/api_client_impl.go
  jira/agile/api_client_impl_test.go
  jira/v2/api_client_impl.go
  jira/v2/api_client_impl_test.go
  jira/v3/api_client_impl.go
  jira/v3/api_client_impl_test.go
Labels: enhancement, Jira Software Cloud, Jira Agile

#220 Update api_client_impl.go
  jira/sm/api_client_impl.go
Labels: enhancement, Jira Service Management

#228 Feature/confluence http improvements
  confluence/api_client_impl.go
  confluence/api_client_impl_test.go
  confluence/internal/analytics_impl.go
  confluence/internal/analytics_impl_test.go
  confluence/internal/attachment_content_impl.go
  confluence/internal/attachment_content_impl_test.go
  confluence/internal/attachment_impl.go
  confluence/internal/attachment_impl_test.go
  confluence/internal/authentication_impl.go
  confluence/internal/authentication_impl_test.go
  confluence/internal/children_descendants_content_impl.go
  confluence/internal/children_descendants_content_impl_test.go
  confluence/internal/comment_content_impl.go
  confluence/internal/comment_content_impl_test.go
  confluence/internal/content_impl.go
  confluence/internal/content_impl_test.go
  confluence/internal/label_content_impl.go
  confluence/internal/label_content_impl_test.go
  confluence/internal/label_impl.go
  confluence/internal/label_impl_test.go
  confluence/internal/page_impl.go
  confluence/internal/page_impl_test.go
  confluence/internal/permission_content_impl.go
  confluence/internal/permission_content_impl_test.go
  confluence/internal/permission_space_impl.go
  confluence/internal/permission_space_impl_test.go
  confluence/internal/properties_content_impl.go
  confluence/internal/properties_content_impl_test.go
  confluence/internal/restriction_content_impl.go
  confluence/internal/restriction_content_impl_test.go
  confluence/internal/restriction_operation_content_impl.go
  confluence/internal/restriction_operation_content_impl_test.go
  confluence/internal/restriction_operation_group_content_impl.go
  confluence/internal/restriction_operation_group_content_impl_test.go
  confluence/internal/restriction_operation_user_content_impl.go
  confluence/internal/restriction_operation_user_content_impl_test.go
  confluence/internal/search_impl.go
  confluence/internal/search_impl_test.go
  confluence/internal/space_impl.go
  confluence/internal/space_impl_test.go
  confluence/internal/space_v2_impl.go
  confluence/internal/space_v2_impl_test.go
  confluence/internal/task_impl.go
  confluence/internal/task_impl_test.go
  confluence/internal/version_content.go
  confluence/internal/version_content_test.go
  confluence/v2/api_client_impl.go
  confluence/v2/api_client_impl_test.go
  jira/agile/api_client_impl.go
  jira/sm/api_client_impl.go
  jira/v2/api_client_impl.go
  jira/v3/api_client_impl.go
Labels: enhancement, Confluence

#229 :fire: Removed the legacy HTTP client interface and mocks
  service/http.go
  service/mocks/Client.go
Labels: Jira Software Cloud, Jira Service Management, Jira Agile, dependencies, Confluence, Atlassian Admin
