Repository ctreminiom/go-atlassian, pull requests merged in 2023-04, with the labels that each got.

#182 Added the expand option to the internalSearch implementation for content
  confluence/internal/search_impl.go
  confluence/internal/search_impl_test.go
Labels: bug, Confluence

#183 :newspaper: Implemented the first Confluence Cloud V2 services
  .github/workflows/lint.yml
  README.md
  confluence/internal/page_impl.go
  confluence/internal/page_impl_test.go
  confluence/v2/api_client_impl.go
  confluence/v2/api_client_impl_test.go
  pkg/infra/models/confluence_page.go
  pkg/infra/models/errors.go
  service/confluence/page.go
Labels: dependencies, Confluence

#184 :sparkles: Created the Analytics Confluence service.
  confluence/api_client_impl.go
  confluence/internal/analytics_impl.go
  confluence/internal/analytics_impl_test.go
  pkg/infra/models/confluence_analytics.go
  service/confluence/analytics.go
Labels: enhancement, Confluence

#186 :sparkles: Created the Jira Remote Link service.
  jira/internal/link_impl.go
  jira/internal/link_impl_adf.go
  jira/internal/link_impl_adf_test.go
  jira/internal/link_impl_rich_text.go
  jira/internal/link_impl_rich_text_test.go
  jira/internal/link_impl_test.go
  jira/internal/remote_link_impl.go
  jira/internal/remote_link_impl_test.go
  jira/v2/api_client_impl.go
  jira/v3/api_client_impl.go
  pkg/infra/models/errors.go
  pkg/infra/models/jira_remote_links.go
  service/jira/remoteLink.go
Labels: Jira Software Cloud, V2, V3

#187 :sparkles: Created the Confluence Space V2 service.
  confluence/internal/space_v2_impl.go
  confluence/internal/space_v2_impl_test.go
  confluence/v2/api_client_impl.go
  pkg/infra/models/confluence_space_v2.go
  service/confluence/space.go
Labels: enhancement, Confluence

#188 :wastebasket: Deprecated the io/ioutil package
  .github/workflows/coverage.yml
  admin/admin.go
  confluence/api_client_impl.go
  confluence/internal/page_impl.go
  confluence/internal/page_impl_test.go
  confluence/internal/space_impl.go
  confluence/internal/space_impl_test.go
  confluence/v2/api_client_impl.go
  jira/agile/api_client_impl.go
  jira/sm/api_client_impl.go
  jira/v2/api_client_impl.go
  jira/v3/api_client_impl.go
  service/confluence/page.go
Labels: enhancement

#191 :bug: Added the ability to extract the issue workflow comments based …
  jira/internal/worklog_impl_adf.go
  jira/internal/worklog_impl_adf_test.go
  jira/internal/worklog_impl_rich_text.go
  jira/internal/worklog_impl_rich_text_test.go
  pkg/infra/models/jira_work_log.go
  service/jira/worklog.go
Labels: Jira Software Cloud, breaking-change
