Repository ctreminiom/go-atlassian, pull requests merged in 2023-06, with the labels that each got.

#214 Added ParseStringCustomField
  pkg/infra/models/jira_issue_custom_fields.go
  pkg/infra/models/jira_issue_custom_fields_test.go
Labels: enhancement, Jira Software Cloud, V2, V3

#217 Add Support for Filtering Confluence V2 Bulk
  confluence/internal/page_impl.go
  confluence/internal/page_impl_test.go
  service/confluence/page.go
Labels: bug, Confluence

#219 :art: Improved the Jira Agile HTTP Client implementation.
  jira/agile/api_client_impl.go
  jira/agile/api_client_impl_test.go
  jira/agile/internal/authentication_impl.go
  jira/agile/internal/authentication_impl_test.go
  jira/agile/internal/board_backlog_impl.go
  jira/agile/internal/board_backlog_impl_test.go
  jira/agile/internal/board_impl.go
  jira/agile/internal/board_impl_test.go
  jira/agile/internal/epic_impl.go
  jira/agile/internal/epic_impl_test.go
  jira/agile/internal/sprint_impl.go
  jira/agile/internal/sprint_impl_test.go
  pkg/infra/models/errors.go
  service/http.go
  service/mocks/Connector.go
Labels: enhancement

#221 🏗️ Improved the HTTP Client implementation on the SM module
  jira/agile/api_client_impl.go
  jira/sm/api_client_impl.go
  jira/sm/api_client_impl_test.go
  jira/sm/internal/approval_impl.go
  jira/sm/internal/approval_impl_test.go
  jira/sm/internal/attachment_impl.go
  jira/sm/internal/attachment_impl_test.go
  jira/sm/internal/authentication_impl.go
  jira/sm/internal/authentication_impl_test.go
  jira/sm/internal/comment_impl.go
  jira/sm/internal/comment_impl_test.go
  jira/sm/internal/customer_impl.go
  jira/sm/internal/customer_impl_test.go
  jira/sm/internal/feedback_impl.go
  jira/sm/internal/feedback_impl_test.go
  jira/sm/internal/info_impl.go
  jira/sm/internal/info_impl_test.go
  jira/sm/internal/knowledgebase_impl.go
  jira/sm/internal/knowledgebase_impl_test.go
  jira/sm/internal/organization_impl.go
  jira/sm/internal/organization_impl_test.go
  jira/sm/internal/participant_impl.go
  jira/sm/internal/participant_impl_test.go
  jira/sm/internal/queue_impl.go
  jira/sm/internal/queue_impl_test.go
  jira/sm/internal/request_impl.go
  jira/sm/internal/request_impl_test.go
  jira/sm/internal/service_desk_impl.go
  jira/sm/internal/service_desk_impl_test.go
  jira/sm/internal/sla_impl.go
  jira/sm/internal/sla_impl_test.go
  jira/sm/internal/type_impl.go
  jira/sm/internal/type_impl_test.go
  pkg/infra/models/sm_request_field.go
  pkg/infra/models/sm_request_field_test.go
  pkg/infra/models/sm_request_type.go
  service/sm/type.go
Labels: enhancement, breaking-change
