Repository ctreminiom/go-atlassian, pull requests merged in 2024-08, with the labels that each got.

#293 Fixed code scanning issues
  assets/internal/object_type_impl_test.go
  bitbucket/api_client_impl.go
  bitbucket/api_client_impl_test.go
  bitbucket/internal/workspace_webhooks_impl.go
  bitbucket/internal/workspace_webhooks_impl_test.go
  jira/internal/issue_property_impl.go
  jira/sm/internal/type_impl_test.go
  pkg/infra/models/assets_object.go
  pkg/infra/models/assets_object_type.go
  pkg/infra/models/assets_ticket.go
  pkg/infra/models/confluence_space_v2.go
  pkg/infra/models/jira_announcement_banner.go
  pkg/infra/models/jira_issue_operations_test.go
  pkg/infra/models/jira_teams.go
  pkg/infra/models/sm_request_type.go
  service/bitbucket/repository.go
  service/bitbucket/workspace.go
  service/jira/field-config.go
  service/jira/field-context.go
  service/jira/project.go
  service/jira/remote-link.go
Labels: enhancement

#291 add watcher that is another user as this looks not implemented on Add()
  jira/internal/watcher_impl.go
  jira/internal/watcher_impl_test.go
  service/jira/watcher.go
Labels: enhancement, Jira Software Cloud, V2, V3

#284 Added DateScheme and DateTimeScheme
  pkg/infra/models/jira_issue_custom_fields_test.go
  pkg/infra/models/jira_issue_v2.go
  pkg/infra/models/jira_issue_v3.go
  pkg/infra/models/jira_project.go
  pkg/infra/models/jira_time.go
  pkg/infra/models/jira_time_test.go
  pkg/infra/models/sm_info.go
  pkg/infra/models/sm_request.go
Labels: enhancement, Jira Service Management, V2, V3, breaking-change

#277 Added Raw custom field function to add custom structs to fields
  pkg/infra/models/errors.go
  pkg/infra/models/jira_custom_fields.go
  pkg/infra/models/jira_custom_fields_test.go
Labels: Jira Software Cloud, feature, V2, V3

#299 :sparkles: Added the Jira Workflow APIS
  jira/internal/workflow_impl.go
  jira/internal/workflow_impl_test.go
  pkg/infra/models/jira_workflow.go
  service/jira/workflow.go
Labels: enhancement, Jira Software Cloud, V2, V3

#301 :art: jira_project.go edited.
  pkg/infra/models/jira_project.go
Labels: enhancement, Jira Software Cloud, V2, V3

#302 :bug: issue_impl_adf.go edited
  jira/internal/issue_impl_adf.go
Labels: bug, Jira Software Cloud, V2, V3

#303 :art: issue_impl_rich_text.go edited
  jira/internal/issue_impl_rich_text.go
Labels: enhancement
