Repository ctreminiom/go-atlassian, pull requests merged in 2024-06, with the labels that each got.

#259 :sparkles: Support the possibility to add multiobject on the issue u…
  pkg/infra/models/jira_issue_operations.go
  pkg/infra/models/jira_issue_operations_test.go
Labels: enhancement, Jira Software Cloud, V2, V3

#266 README.md edited
  README.md
Labels: documentation, enhancement

#282 Added custom field request type
  pkg/infra/models/jira_field.go
  pkg/infra/models/jira_field_context_option.go
  pkg/infra/models/jira_issue_custom_fields.go
Labels: enhancement, Jira Software Cloud, Jira Service Management, V2, V3

#281 Fixed initialism in bitbucket
  bitbucket/internal/workspace_webhooks_impl_test.go
  pkg/infra/models/bitbucket_projects.go
  pkg/infra/models/bitbucket_repository.go
  pkg/infra/models/bitbucket_webhooks.go
  pkg/infra/models/bitbucket_workspace.go
  pkg/infra/models/bitbucket_workspace_membership.go
Labels: enhancement, breaking-change, bitbucket

#270 Added service desk request type groups
  jira/sm/internal/type_impl.go
  pkg/infra/models/sm_request_type.go
  service/sm/type.go
Labels: enhancement, Jira Service Management

#271 Change payload for service desk request attachemnt create to provide …
  jira/sm/internal/attachment_impl.go
  jira/sm/internal/attachment_impl_test.go
  pkg/infra/models/sm_request_attachments.go
  service/sm/attachment.go
Labels: enhancement, Jira Service Management, breaking-change

#272 Added missing date struct in request current status date
  pkg/infra/models/sm_request.go
Labels: enhancement, Jira Service Management

#279 Added RenderedFields and replaced string with time.Time in date fields
  pkg/infra/models/jira_issue_v2.go
  pkg/infra/models/jira_issue_v3.go
Labels: enhancement, Jira Software Cloud, V2, V3, breaking-change

#273 Replace service desk id with string instead of int
  jira/sm/internal/customer_impl.go
  jira/sm/internal/customer_impl_test.go
  service/sm/customer.go
Labels: enhancement, Jira Service Management, breaking-change

#274 Replace service desk id with string instead of int
  jira/sm/internal/service_desk_impl.go
  jira/sm/internal/service_desk_impl_test.go
  service/sm/service_desk.go
Labels: enhancement, Jira Service Management, breaking-change

#275 Fixed struct types and added missing properties in request type fields
  pkg/infra/models/sm_request_type.go
Labels: enhancement, Jira Service Management, breaking-change

#276 Added properties to request type scheme
  pkg/infra/models/sm_request_type.go
Labels: feature, Jira Service Management
